{% extends 'base.html' %}

{% block head %}
    <style>

        .starter-template {
            padding: 3rem 1.5rem;
            text-align: center;
        }

        section {
            margin-bottom: 3rem;
        }
    </style>

{% endblock head %}


{% block body %}

    <!-- Page Content -->
    <div class="container">

        <div class="starter-template">
            <h1>Chemistry Mastery for JEE</h1>
            <p class="lead">Excel in Chemistry to ace your JEE exams.</p>
        </div>

        <section id="syllabus">
            <h2>Syllabus</h2>
            <table class="table table-bordered">
    <thead>
        <tr>
            <th>Topic</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Physical Chemistry</td>
            <td>States of Matter, Atomic Structure, Chemical Bonding, Thermodynamics, Chemical Equilibrium, Ionic Equilibrium, Redox Reactions, etc.</td>
        </tr>
        <tr>
            <td>Inorganic Chemistry</td>
            <td>Periodic Table, Chemical Families, Coordination Compounds, Transition Elements, Metallurgy, Qualitative Analysis, etc.</td>
        </tr>
        <tr>
            <td>Organic Chemistry</td>
            <td>Basic Concepts, Hydrocarbons, Alcohols, Phenols, Aldehydes and Ketones, Carboxylic Acids, Amines, Polymers, Biomolecules, etc.</td>
        </tr>
        <tr>
            <td>Practical Chemistry</td>
            <td>Laboratory Techniques, Experiments, Instrumental Methods, Safety Measures, etc.</td>
        </tr>
    </tbody>
</table>


        </section>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                SOME BASIC CONCEPTS IN CHEMISTRY
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://www.iitianacademy.com/iit-jee-main-chemistry-some-basic-concepts-of-chemistry-study-materials/" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://questions.examside.com/past-years/jee/jee-main/chemistry/some-basic-concepts-of-chemistry" target="_blank">Previous Years Questions</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMaccW6F0AgKT-mmrlAQksYCu" target="_blank">Video Lectures</a></li>


            </ul>
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton15"
                    data-bs-toggle="dropdown" aria-expanded="false">
                REDOX REACTIONS
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://www.askiitians.com/iit-jee-redox-reactions/" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://questions.examside.com/past-years/jee/jee-main/chemistry/redox-reactions" target="_blank">Previous Years Questions</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMacYFXvzpLSoIlg0E0VZS0SJ" target="_blank">Video Lectures</a></li>
            </ul>
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2"
                    data-bs-toggle="dropdown" aria-expanded="false">
                ATOMIC STRUCTURE
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://www.esaral.com/structure-of-atom-class-11-notes-for-neet/" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://byjus.com/jee/jee-main-atomic-structure-previous-year-questions-with-solutions/" target="_blank">Previous Years Questions</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMafCoVdcacbzrXlRy76fOTwJ" target="_blank">Video Lectures</a></li>
            </ul>
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton7"
                    data-bs-toggle="dropdown" aria-expanded="false">
                CLASSIFICATION OF ELEMENTS AND PERIODICITY IN PROPERTIES
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://www.askiitians.com/iit-jee-chemistry/inorganic-chemistry/periodic-classiofication-of-elements.html" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://byjus.com/jee/jee-main-periodic-table-previous-year-questions-with-solutions/" target="_blank">Previous Years Questions</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMaeKDEe14ypLAzo6xPRBZF21" target="_blank">Video Lectures-I</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMafTWeOy5tK5ZsfjY8BpuxS9" target="_blank">Video Lectures-II</a></li>
            </ul>
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton3"
                    data-bs-toggle="dropdown" aria-expanded="false">
                CHEMICAL BONDING AND MOLECULAR STRUCTURE
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://www.askiitians.com/iit-jee-chemical-bonding/" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://questions.examside.com/past-years/jee/jee-main/mathematics/sequences-and-series" target="_blank">Previous Years Questions</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMae9ET3gaJB3jMt6DNT5h4Bo" target="_blank">Video Lectures-I</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMadVClFbenvxsPq7g62AMcCq" target="_blank">Video Lectures-II</a></li>
            </ul>
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton5"
                    data-bs-toggle="dropdown" aria-expanded="false">
                STATES OF MATTER
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://www.askiitians.com/iit-jee-states-of-matter/" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://byjus.com/jee/jee-main-states-of-matter-previous-year-questions-with-solutions/" target="_blank">Previous Years Questions</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMaf71_7enQvAZ41ZdIKAFxf5" target="_blank">Video Lectures</a></li>
            </ul>
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton4"
                    data-bs-toggle="dropdown" aria-expanded="false">
                CHEMICAL THERMODYNAMICS
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://byjus.com/jee/thermodynamics-for-iit-jee/" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://byjus.com/jee/jee-main-thermochemistry-previous-year-questions-with-solutions/" target="_blank">Previous Years Questions</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMaeghI_80Pllo-oJ_CfWSy59" target="_blank">Video Lectures-I</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMaeRvDnG59F_78rB1xnVGll9" target="_blank">Video Lectures-II</a></li>
            </ul>
        </div>



        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton6"
                    data-bs-toggle="dropdown" aria-expanded="false">
                 EQUILIBRIUM
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://www.askiitians.com/iit-jee-chemical-equilibrium/" target="_blank">Material-I</a></li>
                <li><a class="dropdown-item" href="https://www.vedantu.com/iit-jee/jee-main-equilibrium-revision-notes" target="_blank">Material-II</a></li>
                <li><a class="dropdown-item" href="https://byjus.com/jee/jee-main-equilibrium-previous-year-questions-with-solutions/" target="_blank">Previous Years Questions</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMaedwEboOyFHzyLrpVALNl_2" target="_blank">Video Lectures-I</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMadJjUIVhfb3yy8k2OgmmvYK" target="_blank">Video Lectures-II</a></li>
            </ul>
        </div>


        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton8"
                    data-bs-toggle="dropdown" aria-expanded="false">
                 SOME BASIC PRINCIPLES OF ORGANIC CHEMISTRY
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://byjus.com/jee/general-organic-chemistry-goc-for-jee/" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://byjus.com/jee/jee-main-organic-chemistry-previous-year-questions-with-solutions/" target="_blank">Previous Years Questions</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMacJANxeuM-FvHD0VvWK-qo8" target="_blank">Video Lectures-I</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMac-tIcsX-GmJB6Jfv5wjVTp" target="_blank">Video Lectures-II</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMaf4gciHVigwW3oXX7Oa8lOd" target="_blank">Video Lectures-III</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMaeL-Bo1AoVf8C6P1SuhNyyC" target="_blank">Video Lectures-IV</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMafc2p-SO0X7dPJGHp7kqO22" target="_blank">Video Lectures-V</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMaextKWMgtkp2liGnkRuL2FO" target="_blank">Video Lectures-VI</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMacAn57fO31MAFV0S0AU6iCi" target="_blank">Video Lectures-VII</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMadwg0cUeLZORu6n-bVjVBBd" target="_blank">Video Lectures-VIII</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMac_LYfuXMn_AfI-hpORmrSZ" target="_blank">Video Lectures-IX</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMafuBktuLJWiMbqqqONuY6Ti" target="_blank">Video Lectures-X</a></li>
            </ul>
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton9"
                    data-bs-toggle="dropdown" aria-expanded="false">
                 HYDROCARBONS
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://www.topperlearning.com/jee/chemistry/hydrocarbons" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://byjus.com/jee/jee-main-hydrocarbons-previous-year-questions-with-solutions/" target="_blank">Previous Years Questions</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMad1dbC1btiIdnTU0lfnYV1L" target="_blank">Video Lectures-I</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMafcoPui8OSj7I1NcanYLOZG" target="_blank">Video Lectures-II</a></li>
            </ul>
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton10"
                    data-bs-toggle="dropdown" aria-expanded="false">
                 P- BLOCK ELEMENTS
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://www.vedantu.com/iit-jee/jee-main-p-block-elements-revision-notes" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://byjus.com/jee/jee-main-p-block-previous-year-questions-with-solutions/" target="_blank">Previous Years Questions</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMad_XS2fNetEPTFguJBVrXwd" target="_blank">Video Lectures-I</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMacBob5iqWgldry3gKHEUipf" target="_blank">Video Lectures-II</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMadgDwH13M1jouR_8PEo24QG" target="_blank">Video Lectures-III</a></li>
            </ul>
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton11"
                    data-bs-toggle="dropdown" aria-expanded="false">
                  SOLUTIONS
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://www.askiitians.com/iit-jee-solutions/colligative-properties-of-dilute-solutions/" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://www.learncbse.in/jee-main-previous-year-papers-questions-with-solutions-chemistry-solutions-and-colligative-properties/" target="_blank">Previous Years Questions</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMaeFN4bIxWXLr-6FTbZqZNeO" target="_blank">Video Lectures</a></li>
            </ul>
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton12"
                    data-bs-toggle="dropdown" aria-expanded="false">
                  ELECTROCHEMISTRY
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://www.askiitians.com/iit-jee-chemistry/physical-chemistry/electrochemistry/" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://byjus.com/jee/jee-main-maths-three-dimensional-geometry-previous-year-questions-with-solutions/" target="_blank">Previous Years Questions</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMaeKHTVfY4er9dviHKS3gUzy" target="_blank">Video Lectures</a></li>
            </ul>
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton13"
                    data-bs-toggle="dropdown" aria-expanded="false">
                  CHEMICAL KINETICS
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://byjus.com/jee/chemical-kinetics/" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://byjus.com/jee/jee-main-chemical-kinetics-previous-year-questions-with-solutions/" target="_blank">Previous Years Questions</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMadkjXXk9EiOUrn1lGbBico_" target="_blank">Video Lectures-I</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMadFwfHLDsGFGynlaFhM7FJP" target="_blank">Video Lectures-II</a></li>
            </ul>
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton14"
                    data-bs-toggle="dropdown" aria-expanded="false">
                  d - and f- BLOCK ELEMENTS
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://www.selfstudys.com/books/jee-chemistry/english/notes/18-d-and-f-block-elements/4755" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://byjus.com/jee/jee-main-d-and-f-block-previous-year-questions-with-solutions/" target="_blank">Previous Years Questions</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMacxIWVbn6uUj1kTpdYo9nOa" target="_blank">Video Lectures</a></li>
            </ul>
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-bs-toggle="dropdown" aria-expanded="false">
                  CO-ORDINATION COMPOUNDS
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://www.topperlearning.com/jee/chemistry/co-ordination-compounds" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://questions.examside.com/past-years/jee/jee-main/chemistry/coordination-compounds" target="_blank">Previous Years Questions</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMadVClFbenvxsPq7g62AMcCq" target="_blank">Video Lectures-I</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMac47LLQFY_RA4IHR4CUJl5I" target="_blank">Video Lectures-II</a></li>
            </ul>
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton16"
                    data-bs-toggle="dropdown" aria-expanded="false">
                  COMPOUNDS CONTAINING HALOGENS
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://admission.aglasem.com/important-notes-of-chemistry-for-neet-jee-haloalkanes-haloarenes/" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://questions.examside.com/past-years/jee/jee-advanced/chemistry/haloalkanes-and-haloarenes" target="_blank">Previous Years Questions</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PLSkPdKrFDV7XguhrCfvc8Dw4VuhQ6vWdb" target="_blank">Video Lectures</a></li>
            </ul>
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton17"
                    data-bs-toggle="dropdown" aria-expanded="false">
                  COMPOUNDS CONTAINING OXYGEN
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://www.topperlearning.com/jee/chemistry/organic-compounds-containing-oxygen" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://byjus.com/jee/jee-main-alcohol-and-ether-previous-years-questions-with-solutions/" target="_blank">Previous Years Questions-I</a></li>
                <li><a class="dropdown-item" href="https://www.esaral.com/carbonyl-compounds-jee-main-previous-year-questions-with-solutions/" target="_blank">Previous Years Questions-II</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PLE_MIx97ro_aZY9ORQuP3a-VCBtPrY1FC" target="_blank">Video Lectures-I</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMae4Xd0YMGWEOLH0L6VgSuX5" target="_blank">Video Lectures-II</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMaf1p-a4Sr47inlPd6HHDb60" target="_blank">Video Lectures-III</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMafYSOfKgyE8Wl_uWzR2M_FU" target="_blank">Video Lectures-IV</a></li>

            </ul>
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton18"
                    data-bs-toggle="dropdown" aria-expanded="false">
                  COMPOUNDS CONTAINING NITROGEN
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://www.cleariitmedical.com/2019/04/chemistry-notes-amines.html" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://byjus.com/jee/faq-jee-amines/" target="_blank">Previous Years Questions</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMafkw_Mr6VzCzK2RQZindA3H" target="_blank">Video Lectures</a></li>
            </ul>
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton19"
                    data-bs-toggle="dropdown" aria-expanded="false">
                  BIOMOLECULES
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://www.vedantu.com/jee-main/chemistry-biomolecules" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://byjus.com/jee/jee-main-biomolecule-previous-year-questions-with-solutions/" target="_blank">Previous Years Questions</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMae9BWZoNV9PZSGhv7uSIgvH" target="_blank">Video Lectures</a></li>
            </ul>
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton20"
                    data-bs-toggle="dropdown" aria-expanded="false">
                  PRACTICAL CHEMISTRY
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://www.vedantu.com/jee-advanced/chemistry-principles-related-to-practical-chemistry" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://www.vedantu.com/jee-main/chemistry-principle-related-to-practical-chemistry-important-questions" target="_blank">Previous Years Questions</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMacB98GRxBk6Fs96_WwbyQdS" target="_blank">Video Lectures-I</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMaf1tQ9MqxPgXstm1k0E934E" target="_blank">Video Lectures-II</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL7rZUH8srnuMbQqNLYecb4TjAIkYGOIJl" target="_blank">Video Lectures-III</a></li>
            </ul>
        </div>




        <section id="material">

            <h2>Preparation Resources</h2>

            <a class="btn btn-primary" href="https://www.vedantu.com/iit-jee/jee-main-chemistry-important-questions" target="_blank">Important Questions</a>
            <a class="btn btn-primary" href="https://www.selfstudys.com/mcq/jee/online/mock-test/chemistry" target="_blank">Tests</a>
            <a class="btn btn-primary" href="https://byjus.com/jee/jee-chemistry-preparation-tips-to-help-you-ace-the-exam/" target="_blank">Tips and Strategies</a>

        </section>


        <section id="notes">
            <h2>Notes</h2>
            <p>Explore comprehensive study notes that provide in-depth insights into JEE Chemistry. Strengthen your
                foundation with organized and detailed study materials.</p>

        </section>

        <section id="practice-tests">
            <h2>Practice Tests</h2>
            <p>Sharpen your skills with a variety of practice tests tailored for JEE Chemistry. Test your knowledge,
                track your progress, and gain confidence for the actual exams.</p>

        </section>

    </div><!-- /.container -->



{% endblock body %}