{% extends 'base.html' %}

{% block head %}
    <style>

        .starter-template {
            padding: 3rem 1.5rem;
            text-align: center;
        }

        section {
            margin-bottom: 3rem;
        }
    </style>

{% endblock head %}


{% block body %}

    <!-- Page Content -->
    <div class="container">

        <div class="starter-template">
            <h1>Mathematics Mastery for JEE</h1>
            <p class="lead">Excel in Mathematics to ace your JEE exams.</p>
        </div>

        <section id="syllabus">
            <h2>Syllabus</h2>
            <table class="table table-bordered">
    <thead>
        <tr>
            <th>Topic</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Algebra</td>
            <td>Polynomials, Quadratic Equations, Sequences and Series, Permutations and Combinations, Binomial Theorem, etc.</td>
        </tr>
        <tr>
            <td>Calculus</td>
            <td>Limits and Continuity, Differentiation, Integration, Differential Equations, Applications of Derivatives and Integrals, etc.</td>
        </tr>
        <tr>
            <td>Trigonometry</td>
            <td>Trigonometric Functions, Identities, Equations, Properties of Triangles, Heights and Distances, etc.</td>
        </tr>
        <tr>
            <td>Coordinate Geometry</td>
            <td>Lines, Circles, Conic Sections, Three-Dimensional Geometry, Vectors, etc.</td>
        </tr>
        <tr>
            <td>Probability and Statistics</td>
            <td>Probability, Statistics, Mean, Median, Mode, Variance, Probability Distributions, etc.</td>
        </tr>
        <tr>
            <td>Mathematical Reasoning</td>
            <td>Statements and Logical Operations, Implications, Validity of Arguments, etc.</td>
        </tr>
    </tbody>
</table>

        </section>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                SETS, RELATIONS, AND FUNCTIONS
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://www.vedantu.com/jee-main/maths-sets-relations-and-functions-revision-notes" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://byjus.com/jee/sets-relations-and-functions-previous-year-questions-with-solutions/" target="_blank">Previous Years Questions</a></li>
                <li><a class="dropdown-item" href="https://youtube.com/playlist?list=PLYFlGICvnvLh2Z_qfHg1N6Fmh4zePknn-&si=WMfv9Ui7VT1ODL5q" target="_blank">Video Lectures</a></li>
            </ul>
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2"
                    data-bs-toggle="dropdown" aria-expanded="false">
                COMPLEX NUMBERS AND QUADRATIC EQUATIONS
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://www.askiitians.com/iit-jee-algebra/complex-numbers/" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://byjus.com/jee/complex-numbers-and-quadratic-equations-previous-year-questions-with-solutions/" target="_blank">Previous Years Questions</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMaf5Ga3nQJe-gg-0zXG77YRB" target="_blank">Video Lectures-I</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMaeLzehBWWVD_EZL7EuaVP-X" target="_blank">Video Lectures-II</a></li>
            </ul>
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton3"
                    data-bs-toggle="dropdown" aria-expanded="false">
                SEQUENCE AND SERIES
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://www.vedantu.com/jee-main/maths-sequence-and-series" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://questions.examside.com/past-years/jee/jee-main/mathematics/sequences-and-series" target="_blank">Previous Years Questions</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMaeu--QWWngkEI10RKOXf8TF" target="_blank">Video Lectures</a></li>
            </ul>
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton4"
                    data-bs-toggle="dropdown" aria-expanded="false">
                PERMUTATIONS AND COMBINATIONS
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://www.askiitians.com/maths/permutation-and-combination.html" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://byjus.com/jee/jee-main-permutations-and-combinations-previous-year-questions-with-solutions/" target="_blank">Previous Years Questions</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMae1vVGOC3Ptr4qXYZOqXvJa" target="_blank">Video Lectures</a></li>
            </ul>
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton5"
                    data-bs-toggle="dropdown" aria-expanded="false">
                BINOMIAL THEOREM
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://www.vedantu.com/jee-main/maths-binomial-theorem" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://byjus.com/jee/jee-binomial-theorem-previous-year-questions-with-solutions/" target="_blank">Previous Years Questions</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMacSgRRlEkUB9v-gE1yxw_rG" target="_blank">Video Lectures</a></li>
            </ul>
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton6"
                    data-bs-toggle="dropdown" aria-expanded="false">
                TRIGONOMETRY
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://www.askiitians.com/iit-jee-mathematics/trigonometry.aspx" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://byjus.com/jee/jee-main-maths-trigonometry-previous-year-questions-with-solutions/" target="_blank">Previous Years Questions</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMafhPkzpa16mbUDqD8d7bBhL" target="_blank">Video Lectures-I</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PLbu_fGT0MPssurmgc0A5iTfaBkbZXvIJ8" target="_blank">Video Lectures-II</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMaerL1K-p5sRRdzjNrqn72Rg" target="_blank">Video Lectures-III</a></li>
            </ul>
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton15"
                    data-bs-toggle="dropdown" aria-expanded="false">
                COORDINATE GEOMETRY
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://www.vedantu.com/jee-main/maths-coordinate-geometry" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://byjus.com/jee/jee-main-maths-coordinate-geometry-previous-year-questions-with-solutions/" target="_blank">Previous Years Questions</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMaf3M7rSq9M4NmLACdYuCQ_7" target="_blank">Video Lectures-I</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMadiR6WFaUTQegpdKUJRD90D" target="_blank">Video Lectures-II</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMaeT3qAAgcvUXiKnM044FO44" target="_blank">Video Lectures-III</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMae6_gCoLFltXl3bmtZmOvjQ" target="_blank">Video Lectures-IV</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMaeaLAU22ViTSvk3T7AWxnT_" target="_blank">Video Lectures-V</a></li>
            </ul>
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton7"
                    data-bs-toggle="dropdown" aria-expanded="false">
                MATRICES AND DETERMINANTS
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://www.vedantu.com/jee-main/maths-matrices-and-determinants" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://byjus.com/jee/jee-main-maths-matrices-and-determinants-previous-year-questions-with-solutions/" target="_blank">Previous Years Questions</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMafsNaawDfrQl6EhgdEiWVD6" target="_blank">Video Lectures-I</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMaex9aIhynPtk3ZO-xO_G2kJ" target="_blank">Video Lectures-II</a></li>
            </ul>
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton8"
                    data-bs-toggle="dropdown" aria-expanded="false">
                 LIMIT, CONTINUITY, AND DIFFERENTIABILITY
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://byjus.com/jee/limits-continuity-and-differentiability/" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://byjus.com/jee/jee-main-maths-limits-continuity-and-differentiability-previous-year-questions-with-solutions/" target="_blank">Previous Years Questions</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMaexM2nxZt512ESPt83EshJq" target="_blank">Video Lectures-I</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMads1bsxLYBoJOLA3bWsY7mK" target="_blank">Video Lectures-II</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMafj2vfy6rQHtTzgA_TnJsZ_" target="_blank">Video Lectures-III</a></li>
            </ul>
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton9"
                    data-bs-toggle="dropdown" aria-expanded="false">
                 DIFFERENTIATION AND ITS APPLICATIONS
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://www.selfstudys.com/books/jee-maths/english/notes/3-differentiation/4794" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://byjus.com/jee/jee-main-maths-differentiation-previous-year-questions-with-solutions/" target="_blank">Previous Years Questions</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMaeewzwCJPpL65y1HV0VAiC4" target="_blank">Video Lectures-I</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMacK_BU3vfAcCOuOJtQOHNfI" target="_blank">Video Lectures-II</a></li>
            </ul>
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton10"
                    data-bs-toggle="dropdown" aria-expanded="false">
                 INTEGRAL CALCULUS
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://byjus.com/jee/important-integration-formulas-for-jee/" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://byjus.com/jee/jee-main-maths-integral-calculus-previous-year-questions-with-solutions/" target="_blank">Previous Years Questions</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMacK7OyqPwHe0rvG4KqxFIum" target="_blank">Video Lectures-I</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMafGD8xJhm9IioyF_norREYN" target="_blank">Video Lectures-II</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PLbu_fGT0MPssvCsc8lHB9x9IrRF7fLxkO" target="_blank">Video Lectures-III</a></li>
            </ul>
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton11"
                    data-bs-toggle="dropdown" aria-expanded="false">
                  DIFFERENTIAL EQUATIONS
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://www.vedantu.com/jee-main/maths-differential-equations" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://byjus.com/jee/jee-main-maths-differential-equations-previous-year-questions-with-solutions/" target="_blank">Previous Years Questions</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMaeewzwCJPpL65y1HV0VAiC4" target="_blank">Video Lectures</a></li>
            </ul>
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton12"
                    data-bs-toggle="dropdown" aria-expanded="false">
                  VECTOR ALGEBRA AND THREE DIMENSIONAL GEOMETRY
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://byjus.com/jee/3d-geometry/" target="_blank">Material-I</a></li>
                <li><a class="dropdown-item" href="https://www.vedantu.com/iit-jee/jee-main-vector-algebra-revision-notes" target="_blank">Material-II</a></li>
                <li><a class="dropdown-item" href="https://byjus.com/jee/jee-main-maths-vector-algebra-previous-year-questions-with-solutions/" target="_blank">Previous Years Questions-I</a></li>
                <li><a class="dropdown-item" href="https://byjus.com/jee/jee-main-maths-three-dimensional-geometry-previous-year-questions-with-solutions/" target="_blank">Previous Years Questions-II</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMafmea0RnicbuLD6Ly2EIr0X" target="_blank">Video Lectures</a></li>
            </ul>
        </div>


        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton14"
                    data-bs-toggle="dropdown" aria-expanded="false">
                  STATISTICS AND PROBABILITY
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://www.vedantu.com/jee-main/maths-statistics-and-probability" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://byjus.com/jee/probability-jee-main-previous-year-questions-with-solutions/" target="_blank">Previous Years Questions-I</a></li>
                <li><a class="dropdown-item" href="https://byjus.com/jee/jee-main-maths-statistics-previous-year-questions-with-solutions/" target="_blank">Previous Years Questions-II</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMadco0ISV4gL7BEkzs7ki6lm" target="_blank">Video Lectures-I</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL_A4M5IAkMaf-WePkSulK_zt0yfQUrZgE" target="_blank">Video Lectures-II</a></li>
            </ul>
        </div>



        <section id="material">

            <h2>Preparation Resources</h2>

            <a class="btn btn-primary" href="https://www.vedantu.com/jee-main/maths-important-questions" target="_blank">Important Questions</a>
            <a class="btn btn-primary" href="https://www.selfstudys.com/mcq/jee/online/mock-test/mathematics" target="_blank">Tests</a>
            <a class="btn btn-primary" href="https://byjus.com/jee/how-to-tackle-jee-math-problems/" target="_blank">Tips and Strategies</a>

        </section>


        <section id="notes">
            <h2>Notes</h2>
            <p>Explore comprehensive study notes that provide in-depth insights into JEE Mathematics. Strengthen your
                foundation with organized and detailed study materials.</p>

        </section>

        <section id="practice-tests">
            <h2>Practice Tests</h2>
            <p>Sharpen your skills with a variety of practice tests tailored for JEE Mathematics. Test your knowledge,
                track your progress, and gain confidence for the actual exams.</p>

        </section>

    </div><!-- /.container -->



{% endblock body %}