{% extends 'base.html' %}

{% block head %}
    <style>

        .starter-template {
            padding: 3rem 1.5rem;
            text-align: center;
        }

        section {
            margin-bottom: 3rem;
        }
    </style>

{% endblock head %}


{% block body %}

    <!-- Page Content -->
    <div class="container">

        <div class="starter-template">
            <h1>Mathematics Mastery for NDA</h1>
            <p class="lead">Excel in Mathematics to ace your NDA exams.</p>
        </div>

        <section id="syllabus">
            <h2>Syllabus</h2>
            <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Topic</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Algebra</td>
                    <td>Concepts of set, operations on sets, Venn diagrams.</td>
                </tr>
                <tr>
                    <td>Matrices and Determinants</td>
                    <td>Types of matrices, determinants, and their properties.</td>
                </tr>
                <tr>
                    <td>Trigonometry</td>
                    <td>Angles and their measures, trigonometric identities, etc.</td>
                </tr>
                <tr>
                    <td>Analytical Geometry of Two and Three Dimensions</td>
                    <td>Coordinate geometry of two and three dimensions, distance formula, etc.</td>
                </tr>
                <tr>
                    <td>Differential Calculus</td>
                    <td>Concept of a real-valued function, composite functions, one-to-one, and onto functions.</td>
                </tr>
                <tr>
                    <td>Integral Calculus and Differential Equations</td>
                    <td>Integration by parts, integration by substitution, standard integrals, etc.</td>
                </tr>
                <tr>
                    <td>Vector Algebra</td>
                    <td>Scalar and vector products, scalar and vector triple product.</td>
                </tr>
                <tr>
                    <td>Statistics and Probability</td>
                    <td>Mean, median, mode, variance, standard deviation, etc.</td>
                </tr>
            </tbody>
        </table>
        </section>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                Algebra
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://byjus.com/govt-exams/nda-syllabus/" target="_blank">Syllabus</a></li>
                <li><a class="dropdown-item" href="https://byjusexamprep.com/tips-to-prepare-algebra-for-nda-i" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://youtu.be/0-MvXFIODRs?si=IUa5hjfzGgo2B8XS" target="_blank">Video Lecture</a></li>
            </ul>
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2"
                    data-bs-toggle="dropdown" aria-expanded="false">
                Matrices, Determinants, and their Properties
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                <li><a class="dropdown-item" href="https://www.shiksha.com/sarkari-exams/defence/articles/nda-maths-syllabus-blogId-90509" target="_blank">Syllabus</a></li>
                <li><a class="dropdown-item" href="https://byjusexamprep.com/nda-mathematics-matrices-and-determinants-i" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/live/Lhf2YychNXs?si=bomk0qzSNijedIC2" target="_blank">Video Lecture</a></li>
            </ul>
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton3"
                    data-bs-toggle="dropdown" aria-expanded="false">
                Trigonometry
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                <li><a class="dropdown-item" href="https://www.shiksha.com/sarkari-exams/defence/articles/nda-maths-syllabus-blogId-90509" target="_blank">Syllabus</a></li>
                <li><a class="dropdown-item" href="https://byjusexamprep.com/nda-mathematics-matrices-and-determinants-i" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/live/sNq4YVQB7WU?si=tPOwvhvLzp0FcSlB" target="_blank">Video Lecture</a></li>
            </ul>
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton4"
                    data-bs-toggle="dropdown" aria-expanded="false">
                Analytical Geometry of Two and Three Dimensions
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton4">
                <li><a class="dropdown-item" href="https://www.shiksha.com/sarkari-exams/defence/articles/nda-maths-syllabus-blogId-90509" target="_blank">Syllabus</a></li>
                <li><a class="dropdown-item" href="https://edurev.in/chapter/39384_Analytical-Geometry-of-Two-and-Three-Dimensions" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PLLvtPlDfpmb8KlZwIWBnpck_3yS80DjRI" target="_blank">Video Lectures</a></li>
            </ul>
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton5"
                    data-bs-toggle="dropdown" aria-expanded="false">
                Differential Calculus
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton4">
                <li><a class="dropdown-item" href="https://www.shiksha.com/sarkari-exams/defence/articles/nda-maths-syllabus-blogId-90509" target="_blank">Syllabus</a></li>
                <li><a class="dropdown-item" href="https://unacademy.com/class/differential-calculus-with-previous-year-questions/MUNTWRGW" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/live/KGppBtIjHFo?si=cJ-dI1BdekE7eTuh" target="_blank">Video Lecture</a></li>
            </ul>
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton6"
                    data-bs-toggle="dropdown" aria-expanded="false">
                Integral Calculus and Differential Equations
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton4">
                <li><a class="dropdown-item" href="https://www.shiksha.com/sarkari-exams/defence/articles/nda-maths-syllabus-blogId-90509" target="_blank">Syllabus</a></li>
                <li><a class="dropdown-item" href="https://www.kidsfront.com/govt-jobs-exams/study-material/NDA+Exam-Mathematics-Integration+and+Differential+Equations-p0.html" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/live/RP1F6ZZEykk?si=4PB4IV0yZrLtIt13" target="_blank">Video Lecture-I</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/live/_3n2PMcdSwY?si=MB2tMDqrWJ0eQvua" target="_blank">Video Lecture-II</a></li>
            </ul>
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton7"
                    data-bs-toggle="dropdown" aria-expanded="false">
                Vector Algebra
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton4">
                <li><a class="dropdown-item" href="https://www.shiksha.com/sarkari-exams/defence/articles/nda-maths-syllabus-blogId-90509" target="_blank">Syllabus</a></li>
                <li><a class="dropdown-item" href="https://www.kopykitab.com/NDA-Study-Material-For-Integral-Calculus-And-Differential-Equations-Mathematics-by-Panel-Of-Expert" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://youtu.be/wwg904D1-co?si=hCJY6a6f1GLOLYJ7" target="_blank">Video Lecture</a></li>
            </ul>
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton8"
                    data-bs-toggle="dropdown" aria-expanded="false">
                Statistics and Probability
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton4">
                <li><a class="dropdown-item" href="https://www.shiksha.com/sarkari-exams/defence/articles/nda-maths-syllabus-blogId-90509" target="_blank">Syllabus</a></li>
                <li><a class="dropdown-item" href="https://market.edugorilla.com/product/nda-formulae-sheet-probability-and-mathematical-statistics/" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/live/fsLOm-hkH70?si=VTPoyYHDIpB1VDs-" target="_blank">Video Lecture-I</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/live/la1vr8HPxmY?si=AC6l8Boof8OJ_yMY" target="_blank">Video Lecture-II</a></li>
            </ul>
        </div>

        <section id="material">

            <h2>Preparation Resources</h2>

            <a class="btn btn-primary" href="https://www.examrace.com/NDA/NDA-Sample-Questions/Mathematics-Questions/" target="_blank">Practice Problems</a>
            <a class="btn btn-primary" href="https://byjusexamprep.com/online-test-series-nda" target="_blank">Tests</a>
            <a class="btn btn-primary" href="https://www.shiksha.com/sarkari-exams/defence/articles/how-to-prepare-for-nda-mathematics-blogId-39727" target="_blank">Tips and Strategies</a>

        </section>



        <section id="notes">
            <h2>Notes</h2>
            <p>Explore comprehensive study notes that provide in-depth insights into NDA Mathematics. Strengthen your
                foundation with organized and detailed study materials.</p>
            <!-- Include links to study notes here -->
        </section>

        <section id="practice-tests">
            <h2>Practice Tests</h2>
            <p>Sharpen your skills with a variety of practice tests tailored for NDA Mathematics. Test your knowledge,
                track your progress, and gain confidence for the actual exams.</p>
            <!-- Include links to practice tests here -->
        </section>

    </div><!-- /.container -->



{% endblock body %}