{% extends 'base.html' %}

{% block head %}
    <style>
        .starter-template {
            padding: 3rem 1.5rem;
            text-align: center;
        }

        section {
            margin-bottom: 3rem;
        }
    </style>
{% endblock head %}

{% block body %}
    <!-- Page Content -->
    <div class="container">

        <div class="starter-template">
            <h1>Biology Mastery for NEET</h1>
            <p class="lead">Master the intricacies of Biology to excel in the National Eligibility cum Entrance Test (NEET).</p>
        </div>

        <section id="biology-topics">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Biology Topic</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Cell Biology</td>
                    <td>Study of cells, their structure, and functions.</td>
                </tr>
                <tr>
                    <td>Genetics</td>
                    <td>Understanding inheritance, genes, and genetic variations.</td>
                </tr>
                <tr>
                    <td>Ecology</td>
                    <td>Exploring the relationships between organisms and their environment.</td>
                </tr>
                <tr>
                    <td>Human Anatomy and Physiology</td>
                    <td>Study of the structure and function of the human body.</td>
                </tr>
                <tr>
                    <td>Plant Physiology</td>
                    <td>Understanding the physiological processes in plants.</td>
                </tr>
                <tr>
                    <td>Biotechnology</td>
                    <td>Application of biological processes for various purposes.</td>
                </tr>
                <tr>
                    <td>Evolution</td>
                    <td>Understanding the process of evolution and its mechanisms.</td>
                </tr>
                <tr>
                    <td>Human Health and Diseases</td>
                    <td>Study of diseases affecting humans and their management.</td>
                </tr>
                </tbody>
            </table>
        </section>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                 Diversity in Living World
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://www.selfstudys.com/books/neet-biology/english/notes/1-diversity-in-the-living-world/11005" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://www.esaral.com/diversity-in-the-living-world-neet-previous-year-questions-with-complete-solutions/" target="_blank">Previous Years Questions</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PLsgHooHkqhhNWiiYtSlpdjPEVYhHqtCkR" target="_blank">Video Lectures</a></li>
            </ul>
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2"
                    data-bs-toggle="dropdown" aria-expanded="false">
                Structural Organisation in Animals and Plants
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://learn.careers360.com/biology/structural-organisation-in-animals-and-plants-chapter/" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://www.neetprep.com/questions/56-Zoology/707-Structural-Organisation-Animals?courseId=8" target="_blank">Previous Years Questions</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PLF9hi5Z-Z_A4OSH0yH9k5gL_stRjzBK-M" target="_blank">Video Lectures</a></li>
            </ul>
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton7"
                    data-bs-toggle="dropdown" aria-expanded="false">
                Cell Structure and Function
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://www.aakash.ac.in/blog/cell-structure-and-functions-best-biology-notes-for-neet-aspirants/" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://www.studyadda.com/question-bank/neet/biology/cell-the-unit-of-life/cell-theory-and-general/1717" target="_blank">Previous Years Questions</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PLsgHooHkqhhM_W2JIonGzSr_TuU3LOY1M" target="_blank">Video Lectures</a></li>
            </ul>
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton3"
                    data-bs-toggle="dropdown" aria-expanded="false">
                Plant Physiology
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://www.askiitians.com/biology/plant-physiology/" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://www.neetbiology.co.in/2012/12/neet-biology-mcq-plant-physiology.html" target="_blank">Previous Years Questions</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PLZCMwpQjOUdbEP-gtgaUm3tLvusPD14CC" target="_blank">Video Lectures</a></li>
            </ul>
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton5"
                    data-bs-toggle="dropdown" aria-expanded="false">
                Human Physiology
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://www.askiitians.com/biology/human-physiology/" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://www.neetprep.com/questions/242-Human-Physiology?courseId=58" target="_blank">Previous Years Questions</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PLo8sJQjZfQx6ggQDYHCdnhqWSRsp-Vgu1" target="_blank">Video Lectures</a></li>
            </ul>
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton4"
                    data-bs-toggle="dropdown" aria-expanded="false">
                Reproduction
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://www.topperlearning.com/neet/biology/reproduction-in-organisms" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://www.neetprep.com/questions/56-Zoology/716-Human-Reproduction" target="_blank">Previous Years Questions</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PLsgHooHkqhhNzLZWpX60ubt5MSUSlqto2" target="_blank">Video Lectures</a></li>
            </ul>
        </div>



        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton6"
                    data-bs-toggle="dropdown" aria-expanded="false">
                 Genetics and Evolution
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://www.selfstudys.com/books/neet-biology/english/notes/7-genetics-and-evolution/11012" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://www.neetprep.com/questions/249-Biology--Genetics-Evolution--Biology-Human-Welfare/718-Evolution" target="_blank">Previous Years Questions</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PLsgHooHkqhhNh_ycRyhXvucrjzO2JW-CS" target="_blank">Video Lectures-I</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PLsgHooHkqhhNAQ55V6iJq6j9kP0Fj6nuV" target="_blank">Video Lectures-II</a></li>
            </ul>
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton15"
                    data-bs-toggle="dropdown" aria-expanded="false">
                Biology and Human Welfare
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://www.askiitians.com/biology/biology-in-human-welfare/" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://www.neetprep.com/questions/638-Biology-Human-Welfare?courseId=267" target="_blank">Previous Years Questions</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PL4G-FogThf6t3brqQV9yeKoInhs7_1Rak" target="_blank">Video Lectures</a></li>
            </ul>
        </div>



        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton8"
                    data-bs-toggle="dropdown" aria-expanded="false">
                 Biotechnology and Its Applications
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://admission.aglasem.com/important-notes-of-biology-for-neet-biotechnology-its-applications/" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://www.neetprep.com/questions/56-Zoology/640-Biotechnology-its-Application?source=NEET&type=MCQ-AR&type=MCQ-SO" target="_blank">Previous Years Questions</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PLsgHooHkqhhOtAiAeUVWANgJr-QVpV_u1" target="_blank">Video Lectures</a></li>
            </ul>
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton9"
                    data-bs-toggle="dropdown" aria-expanded="false">
                 Ecology and environment
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://www.askiitians.com/biology/ecology/" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://www.neetprep.com/questions/640-Ecology-Environment?courseId=269" target="_blank">Previous Years Questions</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PLsgHooHkqhhPfx7UGCLb45pOEyqXuqs-Y" target="_blank">Video Lectures</a></li>
            </ul>
        </div>

        <section id="material">

            <h2>Preparation Resources</h2>

            <a class="btn btn-primary" href="https://www.neetprep.com/questions" target="_blank">Important Questions</a>
            <a class="btn btn-primary" href="https://www.selfstudys.com/mcq/neet/online/mock-test/biology" target="_blank">Tests</a>
            <a class="btn btn-primary" href="https://www.aakash.ac.in/blog/10-study-tips-to-prepare-biology-for-neet-exam/" target="_blank">Tips and Strategies</a>

        </section>

        <section id="practice-tests">
            <h2>NEET Biology Practice Tests</h2>
            <p>Prepare for Biology section of NEET with our practice tests. Regular practice will enhance your understanding and boost your confidence for the exam.</p>
            <!-- Include links to practice tests here -->
        </section>

    </div><!-- /.container -->
{% endblock body %}


