{% extends 'base.html' %}

{% block head %}
    <style>

        .starter-template {
            padding: 3rem 1.5rem;
            text-align: center;
        }

        section {
            margin-bottom: 3rem;
        }
    </style>

{% endblock head %}


{% block body %}

    <!-- Page Content -->
    <div class="container">

        <div class="starter-template">
            <h1>Chemistry Mastery for NEET</h1>
            <p class="lead">Excel in Chemistry to ace your NEET exams.</p>
        </div>

        <section id="syllabus">
            <h2>Syllabus</h2>
            <table class="table table-bordered">
    <thead>
        <tr>
            <th>Topic</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Physical Chemistry</td>
            <td>States of Matter, Atomic Structure, Chemical Bonding, Thermodynamics, Chemical Equilibrium, Ionic Equilibrium, Redox Reactions, etc.</td>
        </tr>
        <tr>
            <td>Inorganic Chemistry</td>
            <td>Periodic Table, Chemical Families, Coordination Compounds, Transition Elements, Metallurgy, Qualitative Analysis, etc.</td>
        </tr>
        <tr>
            <td>Organic Chemistry</td>
            <td>Basic Concepts, Hydrocarbons, Alcohols, Phenols, Aldehydes and Ketones, Carboxylic Acids, Amines, Polymers, Biomolecules, etc.</td>
        </tr>
        <tr>
            <td>Practical Chemistry</td>
            <td>Laboratory Techniques, Experiments, Instrumental Methods, Safety Measures, etc.</td>
        </tr>
    </tbody>
</table>


        </section>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                SOME BASIC CONCEPTS IN CHEMISTRY
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://www.vedantu.com/neet/neet-some-basic-concepts-of-chemistry-revision-notes" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://www.neetprep.com/questions/54-Chemistry/645-Some-Basic-Concepts-Of-Chemistry" target="_blank">Previous Years Questions</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PLOxLJ3q2Q5YOzH-Ybo6ifLDECADvWdw81" target="_blank">Video Lectures</a></li>
            </ul>
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2"
                    data-bs-toggle="dropdown" aria-expanded="false">
                ATOMIC STRUCTURE
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://www.vedantu.com/neet/structure-of-an-atom" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://questions.examside.com/past-years/medical/neet/chemistry/structure-of-atom" target="_blank">Previous Years Questions</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PLOxLJ3q2Q5YNcbYkrRv56DvhYHv3EUXi4" target="_blank">Video Lectures</a></li>
            </ul>
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton7"
                    data-bs-toggle="dropdown" aria-expanded="false">
                CLASSIFICATION OF ELEMENTS AND PERIODICITY IN PROPERTIES
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://www.vedantu.com/neet/neet-classification-of-elements-and-periodicity-in-properties-revision-notes" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://www.vedantu.com/neet/neet-classification-of-elements-and-periodicity-in-properties-important-questions" target="_blank">Previous Years Questions</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PLOxLJ3q2Q5YPPtWfyPR8r4x3MkPSj6XZp" target="_blank">Video Lectures</a></li>
            </ul>
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton3"
                    data-bs-toggle="dropdown" aria-expanded="false">
                CHEMICAL BONDING AND MOLECULAR STRUCTURE
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://www.topperlearning.com/neet/chemistry/chemical-bonding-and-molecular-structure" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://www.neetprep.com/questions/54-Chemistry/648-Chemical-Bonding-and-Molecular-Structure" target="_blank">Previous Years Questions</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PLOxLJ3q2Q5YMkuk7HkqJxY8Mt9gqM6Ls0" target="_blank">Video Lectures</a></li>
            </ul>
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton5"
                    data-bs-toggle="dropdown" aria-expanded="false">
                STATES OF MATTER
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://www.cleariitmedical.com/2019/04/chemistry-notes-states-of-matter.html" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://www.neetprep.com/questions/54-Chemistry/649-States-Matter?courseId=8" target="_blank">Previous Years Questions</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PLOxLJ3q2Q5YM2WO7fReZl2NWG8nRGOUS6" target="_blank">Video Lectures</a></li>
            </ul>
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton4"
                    data-bs-toggle="dropdown" aria-expanded="false">
                CHEMICAL THERMODYNAMICS
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://www.topperlearning.com/neet/chemistry/chemical-thermodynamics" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://www.neetprep.com/questions/54-Chemistry/650-Thermodynamics" target="_blank">Previous Years Questions</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PLOxLJ3q2Q5YOLMVSq2tgp2SHHSUb-ApPq" target="_blank">Video Lectures</a></li>
            </ul>
        </div>



        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton6"
                    data-bs-toggle="dropdown" aria-expanded="false">
                 EQUILIBRIUM
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://byjus.com/neet/chemical-equilibrium-formulas-for-neet/" target="_blank">Material-I</a></li>
                <li><a class="dropdown-item" href="https://www.esaral.com/ionic-equilibrium-class-11-notes-for-iit-jee-neet/" target="_blank">Material-II</a></li>
                <li><a class="dropdown-item" href="https://www.neetprep.com/questions/54-Chemistry/651-Equilibrium" target="_blank">Previous Years Questions</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PLOxLJ3q2Q5YNCjTBG_4HOHYWG5-sfA1Zn" target="_blank">Video Lectures-I</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PLOxLJ3q2Q5YPW-1dKjs00LqUAGy24yYb2" target="_blank">Video Lectures-II</a></li>
            </ul>
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton15"
                    data-bs-toggle="dropdown" aria-expanded="false">
                REDOX REACTIONS
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://byjus.com/neet/flashcards-of-chemistry-for-neet-redox-reactions/" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://www.vedantu.com/neet/neet-redox-reactions-important-questions" target="_blank">Previous Years Questions</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PLOxLJ3q2Q5YNAITRUfU6AoQXB3T-3EAEB" target="_blank">Video Lectures</a></li>
            </ul>
        </div>



        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton8"
                    data-bs-toggle="dropdown" aria-expanded="false">
                 SOME BASIC PRINCIPLES OF ORGANIC CHEMISTRY
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://www.vedantu.com/neet/neet-organic-chemistry-some-basic-principles-and-techniques-important-questions" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://www.esaral.com/general-organic-chemistry-neet-previous-year-questions-with-complete-solutions/" target="_blank">Previous Years Questions</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PLOxLJ3q2Q5YNGcdQO714xQFmwrR4D1NG3" target="_blank">Video Lectures-I</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PLOxLJ3q2Q5YMP4F30Wgq3OChh84WfSTtR" target="_blank">Video Lectures-II</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PLOxLJ3q2Q5YMduV_QMFW3fVL1P2qW9P20" target="_blank">Video Lectures-III</a></li>
            </ul>
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton9"
                    data-bs-toggle="dropdown" aria-expanded="false">
                 HYDROCARBONS
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://www.topperlearning.com/neet/chemistry/hydrocarbons" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://www.neetprep.com/questions/54-Chemistry/657-Hydrocarbons" target="_blank">Previous Years Questions</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PLOxLJ3q2Q5YNo6jcTnZoBX81YGk4TssgY" target="_blank">Video Lectures</a></li>
            </ul>
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton10"
                    data-bs-toggle="dropdown" aria-expanded="false">
                 P- BLOCK ELEMENTS
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://www.topperlearning.com/neet/chemistry/p-block-elements" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://www.neetprep.com/questions/54-Chemistry/665-The-p-Block-Elements-(XII)" target="_blank">Previous Years Questions</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PLOxLJ3q2Q5YMhxlKyGfBGd3GnUWux6mI4" target="_blank">Video Lectures-I</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PLOxLJ3q2Q5YNgA8jWHd5X10BqYEN2c2Ek" target="_blank">Video Lectures-II</a></li>
            </ul>
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton11"
                    data-bs-toggle="dropdown" aria-expanded="false">
                  SOLUTIONS
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://unacademy.com/content/neet-ug/study-material/chemistry/the-concept-of-colligative-properties/" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://freeshala.com/course/12th-chemistry-jee-neet/lessons/practice-questions-on-colligative-properties-part-1/" target="_blank">Previous Years Questions</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PLOxLJ3q2Q5YP_PqMC1fMTi44mFAtdF-aa" target="_blank">Video Lectures</a></li>
            </ul>
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton12"
                    data-bs-toggle="dropdown" aria-expanded="false">
                  ELECTROCHEMISTRY
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://www.cleariitmedical.com/2019/04/chemistry-notes-electrochemistry.html" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://www.neetprep.com/questions/54-Chemistry/661-Electrochemistry" target="_blank">Previous Years Questions</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PLOxLJ3q2Q5YMxbt3CAF4TXQeaFVmHAKVS" target="_blank">Video Lectures</a></li>
            </ul>
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton13"
                    data-bs-toggle="dropdown" aria-expanded="false">
                  CHEMICAL KINETICS
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://www.cleariitmedical.com/2019/04/chemistry-notes-chemical-kinetics.html" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://www.zigya.com/neet/study/Chemistry/Chemical+Kinetics" target="_blank">Previous Years Questions</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PLOxLJ3q2Q5YPe9GQOxSTFKMsOPs2l-hbW" target="_blank">Video Lectures</a></li>
            </ul>
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton14"
                    data-bs-toggle="dropdown" aria-expanded="false">
                  d - and f- BLOCK ELEMENTS
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://www.esaral.com/d-and-f-block-elements-class-12-notes/" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://www.neetprep.com/questions/54-Chemistry/666-The-d-and-f-Block-Elements" target="_blank">Previous Years Questions</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PLOxLJ3q2Q5YNLJR06wwzbPQ0BSC2k_gDe" target="_blank">Video Lectures</a></li>
            </ul>
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-bs-toggle="dropdown" aria-expanded="false">
                  CO-ORDINATION COMPOUNDS
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://www.cleariitmedical.com/2019/04/chemistry-notes-coordination-compounds.html" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://www.neetprep.com/questions/54-Chemistry/667-Coordination-Compounds" target="_blank">Previous Years Questions</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PLOxLJ3q2Q5YP6_cvbSLfq8SNapojhpEKT" target="_blank">Video Lectures</a></li>
            </ul>
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton16"
                    data-bs-toggle="dropdown" aria-expanded="false">
                  COMPOUNDS CONTAINING HALOGENS
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://admission.aglasem.com/important-notes-of-chemistry-for-neet-jee-haloalkanes-haloarenes/" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://www.esaral.com/haloalkane-and-haloarenes-neet-previous-year-questions-with-complete-solutions/" target="_blank">Previous Years Questions</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PLOxLJ3q2Q5YNpDSa2nhdixnQO2FYJNxzn" target="_blank">Video Lectures</a></li>
            </ul>
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton17"
                    data-bs-toggle="dropdown" aria-expanded="false">
                  COMPOUNDS CONTAINING OXYGEN
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://www.topperlearning.com/neet/chemistry/organic-compounds-containing-oxygen" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://www.esaral.com/alcohol-ether-phenol-neet-previous-year-questions-with-complete-solutions/" target="_blank">Previous Years Questions-I</a></li>
                <li><a class="dropdown-item" href="https://www.neetprep.com/questions/54-Chemistry/670-Aldehydes,-Ketones-and-Carboxylic-Acids" target="_blank">Previous Years Questions-II</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/@NEETCompetishun" target="_blank">Video Lectures-I</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PLOxLJ3q2Q5YNNhKr4XZIlplgPeFzcpE_4" target="_blank">Video Lectures-II</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PLOxLJ3q2Q5YMWzGIn7zbJXI7VXbKaXVeF" target="_blank">Video Lectures-III</a></li>
            </ul>
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton18"
                    data-bs-toggle="dropdown" aria-expanded="false">
                  COMPOUNDS CONTAINING NITROGEN
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://www.cleariitmedical.com/2019/04/chemistry-notes-amines.html" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://www.neetprep.com/questions/54-Chemistry/671-Amines" target="_blank">Previous Years Questions</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PLOxLJ3q2Q5YO5YtaCZMIw47OpVulWhQmx" target="_blank">Video Lectures</a></li>
            </ul>
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton19"
                    data-bs-toggle="dropdown" aria-expanded="false">
                  BIOMOLECULES
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://www.topperlearning.com/neet/chemistry/biomolecules" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://www.neetprep.com/questions/54-Chemistry/672-Biomolecules" target="_blank">Previous Years Questions</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PLOxLJ3q2Q5YM71HlWg8_AsnHSy7v_qebY" target="_blank">Video Lectures</a></li>
            </ul>
        </div>

        <div class="dropdown mb-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton20"
                    data-bs-toggle="dropdown" aria-expanded="false">
                  PRACTICAL CHEMISTRY
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="https://www.topperlearning.com/neet/chemistry/principles-related-to-practical-chemistry" target="_blank">Material</a></li>
                <li><a class="dropdown-item" href="https://www.selfstudys.com/mcq/neet/chemistry/online-test/chapter-23-practical-organic-chemistry" target="_blank">Previous Years Questions</a></li>
                <li><a class="dropdown-item" href="https://www.youtube.com/playlist?list=PLXCzY57Z48Lgk-WirgkQLPqTR2NkI6anS" target="_blank">Video Lectures</a></li>
            </ul>
        </div>




        <section id="material">

            <h2>Preparation Resources</h2>

            <a class="btn btn-primary" href="https://www.neetprep.com/questions/54-Chemistry" target="_blank">Important Questions</a>
            <a class="btn btn-primary" href="https://www.selfstudys.com/mcq/neet/online/mock-test/chemistry" target="_blank">Tests</a>
            <a class="btn btn-primary" href="https://collegedunia.com/exams/neet/chemistry-preparation-tips" target="_blank">Tips and Strategies</a>

        </section>


        <section id="notes">
            <h2>Notes</h2>
            <p>Explore comprehensive study notes that provide in-depth insights into NEET Chemistry. Strengthen your
                foundation with organized and detailed study materials.</p>

        </section>

        <section id="practice-tests">
            <h2>Practice Tests</h2>
            <p>Sharpen your skills with a variety of practice tests tailored for NEET Chemistry. Test your knowledge,
                track your progress, and gain confidence for the actual exams.</p>

        </section>

    </div><!-- /.container -->



{% endblock body %}